/* TABLET */
@media (max-width: 992px) {
  .section-one {
    flex-direction: column;
  }

  .section-info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section-img {
    justify-content: center;
    align-items: center;
  }

  .container-descrp {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .container-descrp p {
    max-width: 800px;
  }

  .section-tree {
    width: fit-content;
  }
}
/* CELUS */
@media (max-width: 578px) {
  .navbar {
    margin-right: 150px;
  }
  .navbar-list {
    gap: 2 rem;
  }
  .section-tree {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer {
    flex-direction: column;
  }

  .container-info-footer {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
